*{
    list-style: none;
    text-decoration: none;
}
.texte{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 100px;

}
.one{
    color: rgb(42, 42, 211);
}
.two{
    color: rgb(255, 0, 0);
}
.tree{
    color: rgb(243, 179, 3);
}
.four{
    color:rgb(42, 42, 211);
}
.five{
    color: green;
}
.six{
    color: rgb(255, 0, 0);
}
.bordure{
    border: 1px solid rgb(187, 187, 187);
    width: 700px;
    height: 40px;
    border-radius: 100px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: -40px;    
}

.contaner{   
    margin-top: 13px;
}

.square-1{

    float: right;
    width: 15px;
    height: 15px;
    background-color: rgb(42, 42, 211);
    margin-left: 20px;
    margin-right: 20px;

}
.square-2{
    width: 15px;
    height: 15px;
    background-color: rgb(42, 42, 211);
    margin-left: 20px;
    float: right;
    

}


.square{
    margin-left: 20px;
    width: 15px;
    height: 15px;
    background-color: rgb(42, 42, 211);
    

}
.lien{
    margin: 10px;
    margin-left: 150px;
}
.lien ul {
 
  position: absolute;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
  margin: 0% auto;
  
}
.lien ul li{
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}






